.navBar {
    display: grid;
    align-items: center;
    height: 300px;
    width: 245px;
    margin-top: 50%;
    border: 2px solid #fff;
    border-radius: 8px;
    background-color: #140F07;
    color: #fff;
}